{% extends 'base.html' %}

{% block head %}
<title>Home</title>

{% endblock %}

{% block body %}
<div class="container">

    <h2>Post List</h2>
    <hr>
    {% for post in all_post%}

    <p><b> Name :</b>  {{ post.name }}</p>
    <p><b> Place_Name :</b> {{ post.place_name }}</p>
    <b>    Image :</b> <img src=" {{ post.image.url}}" width="40%" height="20%"><br><br>
    <p><b> Trafficjam_Details :</b> {{ post.trafficjam_details }}</p>
    <p><b> Date_and_Time :</b> {{ post.date_and_time }}</p>

    <!--<table border="0px" width="300px">

              <tr>
                <td>Name :</td>
                <td>{{ post.name }}</td>
              </tr>

              <tr>
                <td>Place_name :</td>
                <td>{{ post.place_name }}</td>
              </tr>

              <tr>
                <td>Image :</td>
                <td><img src=" {{ post.image.url}}" width="90%" height="100"></td>
              </tr>

               <tr>
                <td>Traffic_details :</td>
                <td>{{ post.trafficjam_details }}</td>
              </tr>

              <tr>
                <td>Date_and_Time :</td>
                <td>{{ post.date_and_time }}</td>
              </tr>

            </table><br>-->



    <a class="btn btn-primary" href="/trafficjam/post_comment">Comment</a>
    <a class="btn btn-info" href="/trafficjam/edit/{{post.id}}">Edit</a>
    <a class="btn btn-danger" href="/trafficjam/delete/{{post.id}}">Delete</a>
    <hr>

    {% endfor %}

</div>


{% endblock %}


        <!--<a class="btn btn-info" href="{% url 'traffic:edit' post.id %}">Edit</a>
        <a class="btn btn-danger" href="/trafficjam/home/delete/{{post.id}}">Delete</a>-->

