<!--{% extends 'base.html' %}

{% block head %}
<title>Create post</title>

{% endblock %}

{% block body %}
<div class="container">
<h2>Create Post</h2>
    <hr>
    <!-- Start messages alert
                <div class="form-group">
                    {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                        </div>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <!-- End messages alert

 <form class="form-horizontal" role="form" method="POST" action="" >
	 {% csrf_token%}

	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-5">
			<input type="text" class="form-control"  name="user_name" placeholder="" value="" required>
		</div>
	</div>

     <div class="form-group">
		<label for="name" class="col-sm-2 control-label">Place_name</label>
		<div class="col-sm-5">
			<input type="text" class="form-control"  name="place_name" placeholder="" value="" required>
		</div>
	</div>

     <div class="form-group">
    <label for="image" class="col-sm-2 control-label">Image</label>
		 <div class="col-sm-5">
    		<input type="file" class="form-control-file" id="exampleFormControlFile1" name="image" required>
		 </div>
    </div>

	<div class="form-group">
		<label for="message" class="col-sm-2 control-label">Trafficjam_details</label>
		<div class="col-sm-5">
			<textarea class="form-control" rows="4" name="trafficjam_details" required></textarea>
		</div>
	</div>

	 <div class="form-group">
    <label for="input-append date form_datetime" class="col-sm-2 control-label">Date_and_Time</label>
		 <div class="col-sm-5">
    		<input type="datetime-local" rows="4" name="date_and_time" required>
		 </div>
    </div>



	<div class="form-group">
		<div class="col-sm-5 col-sm-offset-2">
			<input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
		</div>
	</div>
</form>
</div>

{% endblock %}-->